{{ if or .Params.oldInfoWarning (and .Site.Params.oldInfoWarning (ne .Params.oldInfoWarning false)) }}
  {{ $daysAgo := div (sub now.Unix .Lastmod.Unix) 86400 }}

  {{ if gt $daysAgo 30 }}
    <div class="post-oldinfowarn">
      {{ if gt $daysAgo 180 }}
      <div class="warn">
      {{ else }}
      <div class="hint">
      {{ end }}
        <p>{{ T "oldInfoWarnBefore" }}<span class="timeago"
            datetime="{{ dateFormat "2006-01-02T15:04:05" .Lastmod }}"
            title="{{ dateFormat "January 2, 2006" .Lastmod }}">
            {{ dateFormat "January 2, 2006" .Lastmod }}
          </span>{{ T "oldInfoWarnAfter" }}</p>
      </div>
    </div>
  {{ end }}
{{ end }}
